<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
</head>
<body>
<h2>Login</h2>
<form action="/201921026/login" method="post">
  <label for="username">Username:</label>
  <input type="text" id="username" name="username" th:text ="${username}">
  <br>
  <button type="submit">Login</button>
</form>
<button onclick=location.href="/201921026/signup">signUp</button>
</body>
</html>
