<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>
<form action="/201921026/logout" method="post">
<button type="submit">Logout</button>
</form>

<form action="/201921026/search" method="get">
    <button type="submit">검색</button>
</form>

<form action="/201921026/create-playlist" method="post">
    <input type="text" name="inputplaylistname">
    <button type="submit">플레이리스트 추가</button>
</form>

<table>
    <thead>
        <tr>
            <th>
                플레이리스트 이름
            </th>
            <th>

            </th>
        </tr>
    </thead>
    <tbody>

    <tr th:each="list : ${playlists}">
        <td th:text="${list.playlistName}"></td>
        <td>
            <form action="/201921026/show-list" method="post">
                <input type="hidden" name="userplaylistId" th:value="${list.id}">
                <button type="submit">보기</button>
            </form>
        </td>
    </tr>

    </tbody>
</table>


</body>
</html>