<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>


    <style>
        table {
            border-collapse: collapse;
            width: 100%;
        }

        th, td {
            border: 1px solid #dddddd;
            text-align: left;
            padding: 8px;
        }

        th {
            background-color: #f2f2f2;
        }
    </style>

</head>
<body>
<form action="/logout" method="post">
<button type="submit">Logout</button>
</form>

<form action="/search" method="get">
    <button type="submit">검색</button>
</form>

<form action="/create-playlist" method="post">
    <input type="text" name="inputplaylistname">
    <button type="submit">플레이리스트 추가</button>
</form>

<table>
    <tbody>
    <form action="/show-list" method="post">
    <tr th:each="list : ${playlists}">
        <td th:text="${list.playlistName}"></td>
        <td>
            <input type="hidden" name="userplaylist" th:value="${list.playlistName}">
            <button type="submit">보기</button>
        </td>
    </tr>
    </form>
    </tbody>
</table>


</body>
</html>